*{
    font-size: 1.75rem;
}

:root{
    --white-color:#fff;
    --blue-color:rgb(0, 0, 255);
    --dark-blue-color:rgb(1, 1, 110);
    --sky-blue-color: rgb(86, 183, 221);
    --main-background-color:rgb(211, 211, 226);
}

.main{
    padding: 1rem;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns:1fr 2fr;
    grid-column-gap:2rem;
    box-sizing: border-box;
    background-color: var(--main-background-color)
}

.left-main, .right-main{
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 75% 25%;
    grid-row-gap: 1rem;
    padding: 1rem 0;
}

.img-div{
    background-color: #a26ddf;
}
.img-div, .flex-child-1{
    width: 95%;
    height: 95%;
    margin: 0 auto;
    border-radius: 10px;
    
}

.live-box, .flex-child-2{
    width: 95%;
    margin: 0 auto;
    border-radius: 10px;
}

.flex-child-2,.true{
    background-color: var(--dark-blue-color);
    color: var(--white-color);
}

img{
    height: 75%;
    width: 65%;
    border-radius:14px;
 
}

.flex-child-1{
    background-color: none;
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-column-gap: 2rem;

}

.grid-child-2{
    background-color: var(--sky-blue-color);
}
.grid-child-1{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-row-gap:2rem;
}

.symbol-box{
    background-color: var(--blue-color);
    color: var(--white-color);
}

.true-false-box{
    display: flex;
}

.true{
    width: 50%;
    height: 100%;
    border-bottom-left-radius: 14px;
    border-top-left-radius: 14px;
}

.live-box, .false{
    background-color: var(--white-color);
}

.false{
    width: 50%;
    height: 100%;
    border-bottom-right-radius: 14px;
    border-top-right-radius: 14px;
}

.box{
    border-radius: 10px;
}

.center{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width:1200px){
    *{
        font-size: 1.75rem;
    }

    .main{
        height:85vh;
    }
}

@media only screen and (max-width:930px){
    *{
        font-size: 1.5rem;
    }

    .main{
        height:75vh;
    }
}

@media only screen and (max-width:680px){
    *{
        font-size: 1.25rem;
    }

    .main{
        height:65vh;
    }
}

@media only screen and (max-width:424px){
    *{
        font-size: 1rem;
    }
    .main{
        height:55vh;
    }
}

@media only screen and (max-width:320px){
    *{
        font-size:0.75rem;
    }
    .main{
        height:50vh;
    }
}